doctype html
html
    head
        meta(charset="UTF-8")
    body
        h1 マストドン検索するやつ
        p jp, nico, pawoo, imastodonに対応
        form(action="/search")
            input(name="q",placeholder="スペース区切りでAND検索")
            input(type="submit",value="検索")